In [2]:
import pandas as pd
df = pd.read_csv("student-scores.csv")
df1= df.copy()
df1.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [3]:
df1.shape

(2000, 17)

In [4]:
df1.columns

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'part_time_job',
       'absence_days', 'extracurricular_activities', 'weekly_self_study_hours',
       'career_aspiration', 'math_score', 'history_score', 'physics_score',
       'chemistry_score', 'biology_score', 'english_score', 'geography_score'],
      dtype='object')

In [5]:
df1.drop(columns=['id','first_name','last_name','email'],axis=1, inplace=True)

In [6]:
df1.shape

(2000, 13)

In [7]:
df1

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [8]:
df1["total_score"] = df1["math_score"] + df1["history_score"] + df1["physics_score"] + df1["chemistry_score"] + df1["biology_score"] + df1["english_score"] + df1["geography_score"]

In [9]:
df1["average_score"] = df1["total_score"] / 7

In [10]:
df1.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.000000
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.428571
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.428571
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.714286
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.428571

In [11]:
df1.columns

Index(['gender', 'part_time_job', 'absence_days', 'extracurricular_activities',
       'weekly_self_study_hours', 'career_aspiration', 'math_score',
       'history_score', 'physics_score', 'chemistry_score', 'biology_score',
       'english_score', 'geography_score', 'total_score', 'average_score'],
      dtype='object')

In [12]:
#Encoding
len(df1['career_aspiration'].unique())

17

In [13]:
gender_map = {'male': 0, 'female': 1}
part_time_job_map = {False: 0, True: 1}
extracurricular_activities_map = {False: 0, True: 1}
career_aspiration_map = {
        'Lawyer': 0, 'Doctor': 1, 'Government Officer': 2, 'Artist': 3, 'Unknown': 4,
        'Software Engineer': 5, 'Teacher': 6, 'Business Owner': 7, 'Scientist': 8,
        'Banker': 9, 'Writer': 10, 'Accountant': 11, 'Designer': 12,
        'Construction Engineer': 13, 'Game Developer': 14, 'Stock Investor': 15,
        'Real Estate Developer': 16
    }

In [14]:
df1['gender'] = df1['gender'].map(gender_map)
df1['part_time_job'] = df1['part_time_job'].map(part_time_job_map)
df1['extracurricular_activities'] = df1['extracurricular_activities'].map(extracurricular_activities_map)
df1['career_aspiration'] = df1['career_aspiration'].map(career_aspiration_map)

In [15]:
df1

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,0,0,3,0,27,0,73,81,93,97,63,80,87,574,82.000000
1,1,0,2,0,47,1,90,86,96,100,90,88,90,640,91.428571
2,1,0,9,1,13,2,81,97,95,96,65,77,94,605,86.428571
3,1,0,5,0,3,3,71,74,88,80,89,63,86,551,78.714286
4,0,0,5,0,10,4,84,77,65,65,80,74,76,521,74.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,2,0,30,13,83,77,84,73,75,84,82,558,79.714286
1996,0,0,2,0,20,5,89,65,73,80,87,67,73,534,76.285714
1997,1,0,5,0,14,5,97,85,63,93,68,94,78,578,82.571429
1998,1,1,10,1,5,7,51,96,72,89,95,88,75,566,80.857143
1999,1,0,5,0,27,11,82,99,91,69,83,93,100,617,88.142857

In [16]:
df1['career_aspiration'].value_counts()

career_aspiration
5     315
7     309
4     223
9     169
0     138
11    126
1     119
16     83
15     73
13     68
3      67
14     63
2      61
6      59
12     56
8      39
10     32
Name: count, dtype: int64

In [17]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\python\lib\site-packages (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in c:\python\lib\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\python\lib\site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\python\lib\site-packages (from imbalanced-learn) (1.5.0)
Requirement already satisfied: joblib>=1.1.1 in c:\python\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python\lib\site-packages (from imbalanced-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
from imblearn.over_sampling import SMOTE

# Create SMOTE object
smote = SMOTE(random_state=42)

# Separate features and target variable
X = df1.drop('career_aspiration', axis=1)
y = df1['career_aspiration']

# Apply SMOTE to the data
X_resampled, y_resampled = smote.fit_resample(X, y)

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_resampled,y_resampled,test_size=0.2, random_state=42)

In [20]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((4284, 14), (1071, 14), (4284,), (1071,))

In [21]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [22]:
X_train_scaled.shape

(4284, 14)

In [23]:
X_test_scaled.shape

(1071, 14)

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

In [25]:
# Define models
models = {
    "Logistic Regression": LogisticRegression(),
    "Support Vector Classifier": SVC(),
    "Random Forest Classifier": RandomForestClassifier(),
    "K Nearest Neighbors": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier()
        }

In [26]:
# Train and evaluate each model
for name, model in models.items():
    print("="*50)
    print("Model:", name)
    # Train the model
    model.fit(X_train_scaled, y_train)
    
    # Predict on test set
    y_pred = model.predict(X_test_scaled)
    
    # Calculate metrics
    accuracy = accuracy_score(y_test, y_pred)
    classification_rep = classification_report(y_test, y_pred)
    conf_matrix = confusion_matrix(y_test, y_pred)
    
    # Print metrics
    print("Accuracy:", accuracy)
    print("Classification Report:\n", classification_rep)
    print("Confusion Matrix:\n", conf_matrix)

==================================================
Model: Logistic Regression
Accuracy: 0.48739495798319327
Classification Report:
               precision    recall  f1-score   support

           0       0.45      0.54      0.49        68
           1       0.49      0.62      0.55        72
           2       0.42      0.44      0.43        57
           3       0.52      0.57      0.55        58
           4       0.31      0.17      0.22        66
           5       0.32      0.32      0.32        76
           6       0.58      0.92      0.71        71
           7       0.83      0.90      0.87        61
           8       0.41      0.45      0.43        53
           9       0.29      0.10      0.15        61
          10       0.59      0.71      0.65        63
          11       0.44      0.45      0.45        53
          12       0.31      0.16      0.21        68
          13       0.38      0.49      0.43        55
          14       0.61      0.93      0.74        57
          15       0.37      0.24      0.29        63
          16       0.55      0.32      0.40        69

    accuracy                           0.49      1071
   macro avg       0.46      0.49      0.46      1071
weighted avg       0.46      0.49      0.46      1071

Confusion Matrix:
 [[37  4  0  0  0  7  0  0  4  1 10  3  0  2  0  0  0]
 [ 2 45  0  0  0  7  0  0 13  0  0  0  0  5  0  0  0]
 [ 0  0 25  5  1  1  9  1  0  0  2  0  4  1  2  2  4]
 [ 0  0  2 33  0  0  2  1  0  0  0  0  0  0 11  0  9]
 [ 6  5  7  3 11  9  7  1  2  3  0  3  3  2  1  2  1]
 [ 8  9  0  0  1 24  1  0  1  7  1  5  3 12  0  4  0]
 [ 0  0  0  0  1  2 65  0  0  1  2  0  0  0  0  0  0]
 [ 0  0  0  3  0  0  0 55  0  0  0  0  0  0  3  0  0]
 [ 4 18  0  0  0  1  0  0 24  0  6  0  0  0  0  0  0]
 [10  1  0  0  3  8  8  0  1  6  2  8  6  6  0  2  0]
 [ 8  2  0  0  1  0  4  0  2  1 45  0  0  0  0  0  0]
 [ 0  1  0  0  4  6  3  0  4  1  0 24  1  3  0  6  0]
 [ 2  2  8  3  5  2  7  0  3  0  4  0 11  6  8  5  2]
 [ 1  2  2  0  3  0  0  0  5  1  1  4  4 27  0  5  0]
 [ 0  0  0  3  0  0  0  0  0  0  0  0  0  0 53  0  1]
 [ 4  3  3  0  5  8  1  2  0  0  2  7  4  7  1 15  1]
 [ 0  0 13 13  0  1  5  6  0  0  1  0  0  0  8  0 22]]
==================================================
Model: Support Vector Classifier
Accuracy: 0.6470588235294118
Classification Report:
               precision    recall  f1-score   support

           0       0.55      0.62      0.58        68
           1       0.60      0.83      0.70        72
           2       0.60      0.74      0.66        57
           3       0.69      0.86      0.77        58
           4       0.55      0.18      0.27        66
           5       0.41      0.32      0.36        76
           6       0.70      0.93      0.80        71
           7       0.86      0.93      0.90        61
           8       0.65      0.81      0.72        53
           9       0.38      0.33      0.35        61
          10       0.84      0.86      0.85        63
          11       0.82      0.51      0.63        53
          12       0.65      0.51      0.57        68
          13       0.53      0.85      0.65        55
          14       0.77      0.93      0.84        57
          15       0.67      0.44      0.53        63
          16       0.77      0.48      0.59        69

    accuracy                           0.65      1071
   macro avg       0.65      0.66      0.63      1071
weighted avg       0.65      0.65      0.63      1071

Confusion Matrix:
 [[42  6  0  0  0  4  0  0  2  4  6  0  0  3  0  1  0]
 [ 1 60  0  0  0  1  0  0  5  0  0  0  1  3  0  1  0]
 [ 0  0 42  2  2  1  4  0  0  0  0  0  2  0  0  3  1]
 [ 0  0  2 50  0  0  0  1  0  0  0  0  0  0  3  0  2]
 [ 5  8  7  1 12  7  5  2  1  7  0  2  4  3  1  1  0]
 [10  7  1  0  1 24  1  1  5 12  0  1  1 11  0  1  0]
 [ 0  0  0  0  0  1 66  0  0  2  1  0  0  0  0  0  1]
 [ 0  0  0  1  0  0  1 57  0  0  0  0  0  0  1  0  1]
 [ 1  8  0  0  0  1  0  0 43  0  0  0  0  0  0  0  0]
 [ 8  1  1  0  0  7  6  1  3 20  1  0  4  5  0  4  0]
 [ 2  1  4  0  0  0  0  0  0  1 54  0  0  1  0  0  0]
 [ 0  3  1  0  3  5  0  1  3  2  1 27  1  3  0  3  0]
 [ 2  1  0  3  2  1  8  0  2  0  1  1 35  4  4  0  4]
 [ 0  3  0  0  0  1  0  0  2  1  0  1  0 47  0  0  0]
 [ 0  0  0  0  0  0  1  2  0  0  0  0  1  0 53  0  0]
 [ 5  2  3  0  2  4  0  0  0  3  0  1  4  9  1 28  1]
 [ 0  0  9 15  0  2  2  1  0  0  0  0  1  0  6  0 33]]
==================================================
Model: Random Forest Classifier
Accuracy: 0.834733893557423
Classification Report:
               precision    recall  f1-score   support

           0       0.74      0.84      0.79        68
           1       0.82      0.99      0.89        72
           2       0.77      0.96      0.86        57
           3       0.89      0.93      0.91        58
           4       0.85      0.44      0.58        66
           5       0.62      0.42      0.50        76
           6       0.92      1.00      0.96        71
           7       0.93      0.93      0.93        61
           8       0.75      0.98      0.85        53
           9       0.71      0.72      0.72        61
          10       0.92      0.95      0.94        63
          11       0.95      0.77      0.85        53
          12       0.88      0.87      0.87        68
          13       0.77      0.89      0.82        55
          14       0.89      0.98      0.93        57
          15       0.89      0.78      0.83        63
          16       0.92      0.84      0.88        69

    accuracy                           0.83      1071
   macro avg       0.84      0.84      0.83      1071
weighted avg       0.84      0.83      0.83      1071

Confusion Matrix:
 [[57  4  0  0  2  1  0  0  0  3  1  0  0  0  0  0  0]
 [ 0 71  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0]
 [ 0  0 55  0  0  0  1  0  0  0  0  0  0  0  0  0  1]
 [ 0  0  0 54  0  0  0  1  0  0  0  0  0  0  2  0  1]
 [ 5  2  6  1 29  9  0  0  3  2  1  1  3  0  1  1  2]
 [ 9  3  0  0  0 32  1  0  7 11  0  1  0 10  0  2  0]
 [ 0  0  0  0  0  0 71  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  1  0  0  0 57  0  0  0  0  0  0  2  0  1]
 [ 0  1  0  0  0  0  0  0 52  0  0  0  0  0  0  0  0]
 [ 2  1  2  0  0  3  2  0  2 44  1  0  4  0  0  0  0]
 [ 1  0  2  0  0  0  0  0  0  0 60  0  0  0  0  0  0]
 [ 0  2  0  0  1  3  0  0  2  1  1 41  0  1  0  1  0]
 [ 0  1  2  0  1  1  1  0  0  0  1  0 59  0  2  0  0]
 [ 0  0  2  0  0  0  0  0  2  0  0  0  0 49  0  2  0]
 [ 0  0  0  0  0  0  0  1  0  0  0  0  0  0 56  0  0]
 [ 3  2  0  0  1  3  0  0  0  1  0  0  0  4  0 49  0]
 [ 0  0  2  5  0  0  1  2  1  0  0  0  0  0  0  0 58]]
==================================================
Model: K Nearest Neighbors
Accuracy: 0.6778711484593838
Classification Report:
               precision    recall  f1-score   support

           0       0.59      0.68      0.63        68
           1       0.73      0.78      0.75        72
           2       0.63      0.86      0.73        57
           3       0.60      0.81      0.69        58
           4       0.35      0.17      0.23        66
           5       0.35      0.14      0.21        76
           6       0.83      0.92      0.87        71
           7       0.90      0.72      0.80        61
           8       0.67      0.91      0.77        53
           9       0.44      0.48      0.46        61
          10       0.81      0.92      0.86        63
          11       0.71      0.64      0.67        53
          12       0.71      0.79      0.75        68
          13       0.69      0.80      0.74        55
          14       0.82      0.89      0.86        57
          15       0.65      0.62      0.63        63
          16       0.78      0.58      0.67        69

    accuracy                           0.68      1071
   macro avg       0.66      0.69      0.67      1071
weighted avg       0.66      0.68      0.66      1071

Confusion Matrix:
 [[46  2  0  0  0  3  0  0  1  8  6  0  0  0  0  2  0]
 [ 4 56  0  0  1  0  0  0  4  1  1  0  1  1  0  3  0]
 [ 0  0 49  1  0  0  0  0  0  0  2  0  0  0  1  1  3]
 [ 0  0  4 47  0  0  0  1  0  1  0  0  0  0  3  0  2]
 [ 4  5  5  5 11  6  6  1  2  7  1  1  6  1  1  1  3]
 [10  6  2  0  7 11  1  1  6  9  0  3  6 10  0  4  0]
 [ 0  0  1  2  0  0 65  0  0  2  0  0  0  0  1  0  0]
 [ 0  0  1  3  2  0  1 44  0  2  0  1  2  1  1  1  2]
 [ 1  4  0  0  0  0  0  0 48  0  0  0  0  0  0  0  0]
 [ 6  0  2  1  3  3  1  1  2 29  1  4  4  0  0  3  1]
 [ 2  0  2  0  0  0  0  0  0  1 58  0  0  0  0  0  0]
 [ 0  2  2  0  0  5  0  0  3  2  1 34  1  2  1  0  0]
 [ 1  1  2  2  0  0  1  0  0  2  1  1 54  0  0  3  0]
 [ 2  0  0  0  4  0  0  0  3  0  0  0  0 44  1  1  0]
 [ 0  0  1  1  0  1  0  0  0  0  0  0  1  1 51  1  0]
 [ 2  1  1  4  2  1  1  0  3  2  0  4  0  3  0 39  0]
 [ 0  0  6 12  1  1  2  1  0  0  1  0  1  1  2  1 40]]
==================================================
Model: Decision Tree Classifier
Accuracy: 0.6881419234360411
Classification Report:
               precision    recall  f1-score   support

           0       0.62      0.65      0.63        68
           1       0.77      0.88      0.82        72
           2       0.68      0.74      0.71        57
           3       0.81      0.76      0.79        58
           4       0.43      0.41      0.42        66
           5       0.42      0.26      0.32        76
           6       0.91      0.86      0.88        71
           7       0.96      0.74      0.83        61
           8       0.81      0.91      0.86        53
           9       0.51      0.54      0.52        61
          10       0.78      0.84      0.81        63
          11       0.60      0.66      0.63        53
          12       0.62      0.75      0.68        68
          13       0.65      0.75      0.69        55
          14       0.79      0.91      0.85        57
          15       0.58      0.46      0.51        63
          16       0.74      0.71      0.73        69

    accuracy                           0.69      1071
   macro avg       0.69      0.69      0.69      1071
weighted avg       0.68      0.69      0.68      1071

Confusion Matrix:
 [[44  3  0  0  3  8  0  0  0  1  5  2  2  0  0  0  0]
 [ 2 63  0  0  0  1  0  0  2  2  0  0  2  0  0  0  0]
 [ 0  0 42  0  1  1  0  1  0  3  0  0  2  1  0  2  4]
 [ 0  0  0 44  2  0  0  1  0  0  0  0  1  0  6  0  4]
 [ 4  3  5  0 27  4  2  0  1  5  2  2  3  0  1  2  5]
 [ 8  6  0  0  6 20  1  0  3  8  1  7  6  7  0  3  0]
 [ 0  0  3  0  2  2 61  0  0  0  1  0  2  0  0  0  0]
 [ 0  0  1  2  6  0  0 45  0  0  0  0  0  0  5  0  2]
 [ 2  2  0  0  0  0  0  0 48  0  1  0  0  0  0  0  0]
 [ 7  0  0  0  3  3  1  0  2 33  2  3  3  1  0  3  0]
 [ 0  1  0  0  0  2  0  0  1  3 53  0  1  1  0  1  0]
 [ 0  2  0  0  2  1  2  0  2  1  1 35  5  0  0  2  0]
 [ 1  0  1  1  3  1  0  0  0  5  1  0 51  1  1  1  1]
 [ 1  1  1  0  1  0  0  0  0  2  1  2  1 41  0  4  0]
 [ 0  0  0  1  1  0  0  0  0  0  0  0  2  0 52  0  1]
 [ 2  1  4  0  2  5  0  0  0  1  0  7  1 11  0 29  0]
 [ 0  0  5  6  4  0  0  0  0  1  0  0  0  0  1  3 49]]

In [27]:
model = RandomForestClassifier()

model.fit(X_train_scaled, y_train)
# Predict on test set
y_pred = model.predict(X_test_scaled)

# Calculate metrics
print("Accuracy: ",accuracy_score(y_test, y_pred))
print("Report: ",classification_report(y_test, y_pred))
print("Confusion Matrix: ",confusion_matrix(y_test, y_pred))

Accuracy:  0.8244631185807656
Report:                precision    recall  f1-score   support

           0       0.79      0.85      0.82        68
           1       0.80      0.97      0.88        72
           2       0.72      0.95      0.82        57
           3       0.92      0.93      0.92        58
           4       0.67      0.42      0.52        66
           5       0.57      0.39      0.47        76
           6       0.93      0.99      0.96        71
           7       0.97      0.92      0.94        61
           8       0.75      0.98      0.85        53
           9       0.75      0.74      0.74        61
          10       0.94      0.97      0.95        63
          11       0.83      0.72      0.77        53
          12       0.89      0.85      0.87        68
          13       0.78      0.89      0.83        55
          14       0.88      1.00      0.93        57
          15       0.89      0.75      0.81        63
          16       0.89      0.81      0.85        69

    accuracy                           0.82      1071
   macro avg       0.82      0.83      0.82      1071
weighted avg       0.82      0.82      0.82      1071

Confusion Matrix:  [[58  5  0  0  1  2  0  0  0  0  0  1  0  0  0  1  0]
 [ 0 70  0  0  0  1  0  0  1  0  0  0  0  0  0  0  0]
 [ 0  0 54  0  0  0  1  0  0  0  0  0  0  0  0  0  2]
 [ 0  0  0 54  0  0  0  1  0  0  0  0  0  0  2  0  1]
 [ 4  2  8  0 28  9  0  0  1  4  1  1  3  0  1  1  3]
 [ 5  6  0  0  6 30  1  0  6  7  0  2  1 10  0  2  0]
 [ 0  0  0  0  0  0 70  0  0  1  0  0  0  0  0  0  0]
 [ 0  0  0  1  1  0  0 56  0  0  0  0  0  0  2  0  1]
 [ 0  1  0  0  0  0  0  0 52  0  0  0  0  0  0  0  0]
 [ 3  1  0  0  0  4  2  0  2 45  1  1  2  0  0  0  0]
 [ 0  0  0  0  2  0  0  0  0  0 61  0  0  0  0  0  0]
 [ 0  1  0  0  2  5  0  0  3  1  1 38  1  1  0  0  0]
 [ 0  0  3  0  1  1  1  0  1  0  1  0 58  0  2  0  0]
 [ 0  0  2  0  0  0  0  0  2  0  0  0  0 49  0  2  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 57  0  0]
 [ 3  1  2  0  1  1  0  0  0  2  0  3  0  3  0 47  0]
 [ 0  0  6  4  0  0  0  1  1  0  0  0  0  0  1  0 56]]

In [28]:
# test 1
print("Actual Label :", y_test.iloc[10])
print("Model Prediction :",model.predict(X_test_scaled[10].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Its working.....")
else:
    print("some error.....")

Actual Label : 12
Model Prediction : 12
Its working.....

In [29]:
# test 2
print("Actual Label :", y_test.iloc[10])
print("Model Prediction :",model.predict(X_test_scaled[10].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Its Working.....")
else:
    print("Some error.....")

Actual Label : 12
Model Prediction : 12
Its Working.....

In [30]:
import pickle

# SAVE FILES
pickle.dump(scaler,open("Model/scaler.pkl",'wb'))
pickle.dump(model,open("Model/model.pkl",'wb'))

In [31]:
# Load the scaler, label encoder, and model
scaler = pickle.load(open("Model/scaler.pkl", 'rb'))
model = pickle.load(open("Model/model.pkl", 'rb'))

In [32]:
import pickle
import numpy as np

# Load the scaler, label encoder, model, and class names
scaler = pickle.load(open("Model/scaler.pkl", 'rb'))
model = pickle.load(open("Model/model.pkl", 'rb'))
class_names = ['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
               'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
               'Banker', 'Writer', 'Accountant', 'Designer',
               'Construction Engineer', 'Game Developer', 'Stock Investor',
               'Real Estate Developer']

def Recommendations(gender, part_time_job, absence_days, extracurricular_activities,
                    weekly_self_study_hours, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    # Encode categorical variables
    gender_encoded = 1 if gender.lower() == 'female' else 0
    part_time_job_encoded = 1 if part_time_job else 0
    extracurricular_activities_encoded = 1 if extracurricular_activities else 0
    
    # Create feature array
    feature_array = np.array([[gender_encoded, part_time_job_encoded, absence_days, extracurricular_activities_encoded,
                               weekly_self_study_hours, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,average_score]])
    
    # Scale features
    scaled_features = scaler.transform(feature_array)
    
    # Predict using the model
    probabilities = model.predict_proba(scaled_features)
    
    # Get top five predicted classes along with their probabilities
    top_classes_idx = np.argsort(-probabilities[0])[:5]
    top_classes_names_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]
    
    return top_classes_names_probs

In [33]:
final_recommendations = Recommendations(gender='female',
                                        part_time_job=False,
                                        absence_days=2,
                                        extracurricular_activities=False,
                                        weekly_self_study_hours=4,
                                        math_score=87,
                                        history_score=73,
                                        physics_score=98,
                                        chemistry_score=91,
                                        biology_score=79,
                                        english_score=60,
                                        geography_score=77,
                                        total_score=583,
                                        average_score=83.285714)

print("Top recommended Career with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended Career with probabilities:
==================================================
Artist with probability 0.52
Game Developer with probability 0.21
Real Estate Developer with probability 0.09
Business Owner with probability 0.05
Designer with probability 0.03

In [34]:
import sklearn
print(sklearn.__version__)

1.5.0